body {
    background-color: LightBlue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: rgb(150, 37, 135); 
    color: #000000; 
    font-size: 16px;
}

main {
    margin: 10px 20px;
}

footer {
    background-color: rgb(125, 149, 211); 
    color: #000000; 
    font-size: 16px; 
    font-family: italic; 
    margin: 0px; 
    text-align: right;
}

a:visited {
    color:rgb(68, 37, 111);
    background-color: blue;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}